<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.emunix.unipatcher"
          android:installLocation="auto">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:allowBackup="false"
        android:extractNativeLibs="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="file"/>
                <data android:mimeType="*/*"/>
                <data android:pathPattern="/.*\\.aps"/>
                <data android:pathPattern="/.*\\.ips"/>
                <data android:pathPattern="/.*\\.ups"/>
                <data android:pathPattern="/.*\\.bps"/>
                <data android:pathPattern="/.*\\.ppf"/>
                <data android:pathPattern="/.*\\.ebp"/>
                <data android:pathPattern="/.*\\.dps"/>
                <data android:pathPattern="/.*\\.xdelta"/>
                <data android:pathPattern="/.*\\.xdelta3"/>
                <data android:pathPattern="/.*\\.vcdiff"/>
                <data android:host="*"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.FilePickerActivity"
            android:label="@string/file_picker_activity_title"/>

        <activity
            android:name=".ui.activity.SettingsActivity"
            android:label="@string/settings_activity_title"
            android:theme="@style/PreferenceTheme"/>

        <activity
            android:name=".ui.activity.HelpActivity"
            android:label="@string/help_activity_title"/>

        <activity
            android:name=".ui.activity.DonateActivity"
            android:label="@string/donate_activity_title"/>

        <service
            android:name=".WorkerService"
            android:exported="false"/>

    </application>

</manifest>