<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="auto">

    <application
        android:name=".UniPatcher"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.SettingsActivity"
            android:label="@string/settings_activity_title"/>

        <activity
            android:name=".ui.activity.HelpActivity"
            android:label="@string/help_activity_title"/>

        <activity
            android:name=".ui.activity.DonateActivity"
            android:label="@string/donate_activity_title"/>

    </application>

</manifest>
